@import '../styles/variables.scss';

.root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 12px;

    &.isMobile {
        display: flex;
        @include lg {
            display: none;
        }
    }

    &.isDesktop {
        display: none;
        @include lg {
            display: flex;
        }
    }

    &.hasLinkToPage {
        background-color: rgb(236, 234, 234);
        border: solid 2px black;
        color: black;

        &:hover {
            background-color: white;
        }       
    }    

    @include xl {
        padding: 15px 60px;        
        font-size: 18px;
    }    

    &:hover {
        background-color: #575656; // Lighter shade on hover
    }

    a {
        color: inherit;
        text-decoration: none;
        line-height: unset;
    }

    .label {
        text-wrap: nowrap;
    }

    .ico {
        position: relative;
        width: 15px;
        height: 15px;
        margin-left: 10px;

        @include md {
            width: 25px;
            height: 25px;
        }
    }

}
