@import '../styles/variables.scss';

.root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 12px;

    /* Quantity Selector */
    &.quantitySelector {
        background-color: white;
        border: 2px solid gold;
        padding: 4px 15px;
        color: black;
        width: 110px;
        justify-content: space-between;
        cursor: unset;

        &:not(.small) {
            @include xl {
                padding: 8px 25px;
                width: 150px;
            }
        }

        .quantityButton {
            position: relative;
            background: none;
            border: none;
            cursor: pointer;
            width: 15px;
            height: 15px;

            @include xl {
                width: 20px;
                height: 20px;
            }    
        }

        &.small {
            .quantityButton {
                width: 15px;
                height: 15px;                
            }
        }

        .quantity {
            font-weight: bold;
            font-size: 18px;

            @include xl {
                font-size: 25px;
            }
        }

        &.small {
            .quantity {
                font-size: 18px;
            }
        }

        &:hover {
            background-color: white;
        }        
    }

    &.isMobile {
        display: flex;
        @include lg {
            display: none;
        }
    }

    &.isDesktop {
        display: none;
        @include lg {
            display: flex;
        }
    }

    &.hasLinkToPage {
        background-color: rgb(236, 234, 234);
        border: solid 2px black;
        color: black;

        &:hover {
            background-color: white;
        }       
    }    

    &:not(.small) {
        @include xl {
            padding: 15px 60px;        
            font-size: 18px;
        }    
    }

    &:hover {
        background-color: #575656; // Lighter shade on hover
    }

    &:active {
        transform: scale(0.95); /* Button press effect */
    }

    &.added {
        animation: pulse 0.4s ease-in-out;
    }

    a {
        color: inherit;
        text-decoration: none;
        line-height: unset;
    }

    .label {
        text-wrap: nowrap;
    }

    .ico {
        position: relative;
        width: 15px;
        height: 15px;
        margin-left: 10px;

        @include md {
            width: 25px;
            height: 25px;
        }
    }

    &.small {
        .ico {
            @include md {
                width: 15px;
                height: 15px;
            }
        }
    }

}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

