@import '../styles/variables.scss';

.root {
	position: fixed;
	overflow-y: auto;
	height: calc(100vh - 124px);
	max-height: calc(100vh - 124px);
	width: 100%;

	@include md {
		width: 430px;
	}	

	.wrapper {
		position: relative;
		padding: 24px;

		.closeIco {
			position: absolute;
			right: 30px;
			cursor: pointer;
			width: 25px;
			height: 25px;
		}

		.subtotal {
			font-family: "Poppins", sans-serif;
			display: flex;
			flex-direction: column;
			justify-content: center;

			div {
				text-align: center;
			}

			.money {
				color: #b12704;
				font-weight: bold;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			.cartItem {
				display: flex;
				padding: 15px 0;
				margin-bottom: 15px;
				border-bottom: solid 1px lightgray;

				.left {
					width: 30%;
				}
		
				.right {
					width: 70%;
					padding-left: 20px;
		
					.title {
						text-transform: capitalize;
						margin: 0 0 10px 0;
						font-size: 30px;						
						line-height: 30px;						
					}
					
					.headline {
						font-size: 15px;
  						line-height: 20px;					
					}
		
					.price {
						display: flex;
						align-items: center;
						padding: 15px 0;
		
						& > span {
							font-weight: 300;
							padding-right: 20px;
						}
					}

				}
			}
		}

		
	}

}
