@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;

	.wrapper {
        width: 380px;
        margin: 0 auto;
  		padding: 0 25px;

	  	.errorMessage {
			color: red;
			font-weight: bold;
			margin-top: 10px;
		}
		
		.subtotal {
			font-family: "Poppins", sans-serif;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 380px;
			background-color: white;
			z-index: 10;
			padding-top: 24px;
			padding-bottom: 24px;

			div {
				text-align: center;
			}

			.money {
				color: #b12704;
				font-weight: bold;
				font-size: 25px;
			}
		}

		.paymentSection {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;
		}

		button {
			cursor: pointer;
			border-radius: 40px;
			font-size: 16px;
			background-color: gold;
			color: black;
			border: none;
			padding: 10px 20px;
			position: relative;
			width: fit-content;
			height: 40px;
		}

		.loaderWrapper {
			display: flex;
  			justify-content: center;
		}

		.loader {
			width: 20px;
			height: 20px;
			border: 3px solid black;
			border-top: 3px solid transparent;
			border-radius: 50%;
			animation: spin 0.6s linear infinite;
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		.paymentSection {
			// opacity: 0;

			&.showCardEntry {
				opacity: 1;
			}
		}		
	}	
}
