@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-size: 16px;

	.wrapper {
        width: 380px;
        margin: 0 auto;
  		padding: 0 25px;

		.shippingScreen {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.subtotal {
				font-family: "Poppins", sans-serif;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 380px;
				background-color: white;
				z-index: 10;
				padding-bottom: 24px;
	
				div {
					text-align: center;
				}
	
				.money {
					color: #b12704;
					font-weight: bold;
					font-size: 25px;
				}
			}

			.continueToPaymentBtn {
				margin: 10px auto;
			}
		}

		.paymentScreen {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-bottom: 30px;

			.paymentInfo {
				margin-top: 20px;
				padding: 15px;
				border: 1px solid #ddd;
				border-radius: 5px;
				background-color: #f9f9f9;
			
				h3 {
					margin-bottom: 5px;
					font-size: 18px;
					font-weight: bold;
				}
			
				p {
					margin: 0;
					font-size: 16px;
					color: #4CAF50; /* Green color to indicate security */
				}
			}			

			.payment {
				padding-top: 30px;
			}

			.checkoutBtn {
				margin: 20px auto;
			}

			.paymentCompletedLabel {
				padding-top: 20px;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				color: green;
			}
		}
		
		.hide {
			display: none;
		}

		.show {
			display: flex;
		}


		.errorMessage {
			color: red;
			font-weight: bold;
			margin-top: 10px;
		}

		button {
			cursor: pointer;
			border-radius: 40px;
			font-size: 16px;
			background-color: gold;
			color: black;
			border: none;
			padding: 10px 20px;
			position: relative;
			width: fit-content;
			height: 40px;

			&:disabled {
				background-color: #ccc;
				cursor: not-allowed;
			}			
		}

		.loaderWrapper {
			display: flex;
  			justify-content: center;
			margin-top: 50px;
		}

		.loader {
			width: 20px;
			height: 20px;
			border: 3px solid black;
			border-top: 3px solid transparent;
			border-radius: 50%;
			animation: spin 0.6s linear infinite;
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		
	}	
}
