@import '../styles/variables.scss';

.root {
	position: fixed;
	top: 0px;
	z-index: 100;
	width: 100%;

	.wrapper {
		display: flex;
		max-width: $MAX-WIDTH;
		margin: 0 auto;
		background-color: white;
		padding: 10px 0;
		justify-content: center;

		.header {
			display: flex;
			justify-content: space-between;
			width: 80%;
			align-items: center;

			@include md {
				width: 90%;
			}

			.navigation {
				display: flex;
			}
		}
		
	}
}

