@import '../styles/variables.scss';

.root {
	position: relative;
	width: 100%;
	font-size: 28px;
  	line-height: 40px;
	color: $FONT-BLACK;

	p {
		margin-top: 0;
	}

	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		font-weight: 300;
		text-align: left;
		margin: 0 auto;

		@include sm {
			width: 80%;
		}

		@include md {
			
		}

		@include lg {
			max-width: $MAX-WIDTH;
			padding: 0px;
			flex-direction: row;
		}

		.left {
			width: auto;
			// padding: $GLOBAL-MARGIN $GLOBAL-MARGIN 0 $GLOBAL-MARGIN; 

			@include lg {
				width: 50%;
				padding-top: $GLOBAL-MARGIN;
			}
		}

		.right {
			width: auto;
			padding: $GLOBAL-MARGIN;

			@include lg {
				width: 50%;
			}

			.title {
                font-family: "Qeilab";
                font-weight: 300;
                font-size: 40px;
                line-height: 50px;
                text-transform: capitalize;
                margin: 0;

                @include xl {
                    font-size: 70px;
                    line-height: 80px;
                }

            }
            
            .headline {
                font-size: 20px;
                line-height: 30px;
                
                @include xl {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .price {
                display: flex;
                align-items: center;
                padding: 30px 0;
                font-size: 23px;

                & > span {
                    font-weight: 300;
                    padding-right: 20px;
                }
            }

            .description {
                padding-top: 30px;
                font-weight: 300;
                font-size: 28px;
                line-height: 40px;
                text-align: left;                
                color: #000000;
            } 
		}
	
	}	
}

// @import '../styles/variables.scss';
/*
.root {
	position: relative;
	width: 100%;

	.wrapper {
		position: relative;
		width: 100%;
		margin: 0 auto;
        padding-top: 50px;

        @include md {
            width: 80%;
        }

        .content {
            display: flex;
            flex-direction: column;

            @include md {
                flex-direction: row;
            }

            .left {
                position: relative;

                @include md {
                    width: 50%;
                }
                
                .image {
                    position: relative;
                    height: 400px;
                    margin-bottom: 50px;

                    @include md {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 0;                        
                    }
                }
                
            }

            .right {
                position: relative;
                font-family: "Brandon Grotesque", "Poppins", sans-serif;

                @include md {
                    width: 50%;
                }                

                .info {
                    padding: 0 20px;

                    @include md {
                        padding-left: 30px;
                    }                    

                    .title {
                        font-family: "Qeilab";
                        font-weight: 300;
                        font-size: 40px;
                        line-height: 45px;
                        text-transform: capitalize;
                        margin: 0;

                        @include xl {
                            font-size: 70px;
                            line-height: 75px;
                        }
    
                    }
                    
                    .headline {
                        font-size: 20px;
                        
                        @include xl {
                            font-size: 30px;
                        }
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        padding-top: 10px;
                        font-size: 23px;

                        & > span {
                            font-weight: 300;
                            padding-right: 20px;
                        }
                    }

                    .description {
                        padding-top: 30px;
                        font-weight: 300;
                        font-size: 28px;
                        line-height: 40px;
                        text-align: left;                
                        color: #000000;
                    }
                }
            }
        }
    }
}
*/