@import '../styles/variables.scss';

.root {
	width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

	.wrapper {
		position: relative;        

        .label {
            padding-bottom: 10px;
        }

        .note {
            padding: 10px 0;
            font-size: 14px;
            font-weight: 200;
            transition: opacity 0.3s ease-in-out;
        }        
		
        .autocomplete-dropdown {
            position: absolute;
            width: 376px;
            background: #FAFAFA;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-height: 200px;
            overflow-y: auto;
            z-index: 100;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .autocomplete-dropdown li {
            padding: 10px;
            cursor: pointer;
        }
        
        .autocomplete-dropdown li:hover {
            background: #f0f0f0;
        }
        
        .error {
            color: red;
            margin-top: 5px;
        }

        .shippingInput {
            width: 100%;
            padding-bottom: 10px;

            .inputs {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 10px;
                box-sizing: border-box;

                &.column {
                    flex-direction: column;
                }

                .field {
                    flex-grow: 1;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px;
                    border: solid 1px #A9A9A9;
                    border-radius: 4px;

                    &.missingField {
                        border-color: #a82826;
                    }

                    .input {
                        box-sizing: border-box;

                        textarea,
                        input {
                            font-family: "Poppins", sans-serif;
                            font-size: 16px;
                            border: none;                            
                            width: 99%;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                border: none;
                            }                        
                        }

                    }
                }
            }
        }

        .checkboxField {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
            font-weight: 200;
        
            input[type="checkbox"] {
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        
            label {
                font-size: 14px;
                cursor: pointer;
            }
        }
       
        input::placeholder, 
        textarea::placeholder {
            font-family: "Poppins", sans-serif;
            font-size: 16px; 
            color: #A9A9A9; 
            opacity: 1; 
        }
    }
}