@import '../styles/variables.scss';

.root {
	width: 100%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

	.wrapper {
		position: relative;        

        .label {
            padding-bottom: 10px;
        }

        .note {
            padding: 10px 0;
            font-size: 14px;
            font-weight: 200;
            transition: opacity 0.3s ease-in-out;
        }        
		
        .autocomplete-dropdown {
            position: absolute;
            width: 376px;
            background: #FAFAFA;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-height: 200px;
            overflow-y: auto;
            z-index: 100;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .autocomplete-dropdown li {
            padding: 10px;
            cursor: pointer;
        }
        
        .autocomplete-dropdown li:hover {
            background: #f0f0f0;
        }
        
        .error {
            color: red;
            margin-top: 5px;
        }

        .shippingInput {
            width: 100%;
            padding-bottom: 10px;

            .inputs {
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 10px;
                box-sizing: border-box;

                .field {
                    flex-grow: 1;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 10px;
                    border: solid 1px lightgray;
                    border-radius: 4px;

                    .input {
                        cursor: pointer;
                        box-sizing: border-box;

                        input {
                            border: none;
                            font-size: 16px;
                            width: 100%;

                            &:focus {
                                outline: none;
                                box-shadow: none;
                                border: none;
                            }
                        }
                    }
                }
            }
        }

    }
}