@use '../styles/events_shop.scss' as shared;
//@import '../styles/variables.scss';

.root {
	@include shared.shared-root;

	.addToCart {
		padding: 20px 0;
		display: flex;
  		justify-content: center;
	}

	a {
		text-decoration: none !important;
	}
}
