@import '../styles/variables.scss';

.root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-bottom: solid 5px transparent;

    @include md {
        color: black;
        padding: 0px;
    }
    
    a {
        color: inherit;
        text-decoration: none;
        line-height: unset;
    }

    .ico {
        position: relative;
        width: 25px;
        height: 25px;;
        margin-left: 10px;
    }

    &.isButton {
        background-color: white;
        width: fit-content;
        padding: 15px 60px;
        border-radius: 40px;
    }
}
