@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_thin-BF64a625c9034b9.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_regular_italic-BF64a625c94445e.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque/HvDTrial_Brandon_Grotesque_bold_italic-BF64a625c93b0ce.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  